<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style_ab.css">
        <title>Про мене</title>
    </head>

    <body>

        
        <div class="sidebar-info">
            <img src="/images/me.png" height="300" id="me">
            <h1 class="name">Поліщук Тимофій</h1>
            <br>

            <hr width="300" noshade="noshade" color="#363636">
            
            <br>

            <div class="info">
                <div class="infobox">
                    <img src="/images/phone.png" height="40" class="info_images">
                    <h4 class="up_text">Телефон</h4>
                    <h4 class="bottom_text">+380694201234</h4>
                </div>

                <br>

                <div class="infobox">
                    <img src="/images/mail.png" height="40" class="info_images">
                    <h4 class="up_text">Пошта</h4>
                    <h4 class="bottom_text" id="mail_text">mysuperposhta@gmail.com</h4>
                </div>

                <br>

                <div class="infobox">
                    <img src="/images/calander.png" height="40" class="info_images">
                    <h4 class="up_text">День народження</h4>
                    <h4 class="bottom_text" id="birthday_text">1 січня, 2000</h4>
                </div>

                <br>

                <div class="infobox">
                    <img src="/images/location.png" height="40" class="info_images">
                    <h4 class="up_text">Локація</h4>
                    <h4 class="bottom_text" id="location_text">Україна</h4>
                </div>

                <br>    

                <div class="links">
                    <div>
                        <a href="https://discord.com/users/723969960702902322" title="Discord"><img src="/images/discord.png" height="30"></a>
                    </div>

                    <div>
                        <a href="https://www.instagram.com/gyreua?igsh=dnNzMTR5a29kMGw4&utm_source=qr" title="Instagram"><img src="/images/instagram.png" height="30"></a>
                    </div>

                    <div>
                        <a href="https://x.com/gyre__?s=11" title="Twitter"><img src="/images/twitter.png" height="30"></a>
                    </div>
                    
                </div>

            </div>

        </div>
       
        <div class="about_me"> 
            <div class="about_info">
                <div class="title">
                <h1>Про мене</h1>
                </div>

                <hr id="hr_1" width="50" noshade="noshade" color="EDB200" align="left" size="5">

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Et ipsam doloribus magni, nulla voluptate quae hic soluta.
                    Amet, quasi quae, possimus fuga, laborum cum nulla ex esse error eligendi dolorem!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Earum similique eligendi error ullam, esse est reiciendis at!
                    Suscipit odit aut aliquam ducimus rerum quas quae sapiente eos alias. Dolorem, placeat!
                </p>

                <hr id="hr_1" width="50" noshade="noshade" color="EDB200" align="left" size="5">
            </div>
        </div>
    </body>

</html>