<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_proj.css') }}">
        <title>
            Портфоліо
        </title>
    </head>

    <body>

        <div class="projects">

            <div class="header">
                <h1>Портфоліо</h1>

                <nav class="navbar">
                    <ul>
                        <li><a href="{{url_for('games')}}">Ігри</a></li>
                        <li><a href="{{url_for('programs')}}" class="active">Програми</a></li>
                        <li><a href="{{url_for('web_pages')}}">Вебсторінки</a></li>
                        <li><a href="{{url_for('my_projects')}}">Всі</a></li>
                    </ul>
                </nav>
            </div>

            <br>

            <hr id="hr_1" width="50" noshade="noshade" color="EDB200" align="left" size="5">

            <br>

            <main>
                <div class="row">
                    <a href=""><div class="project">
                        <img src="{{ url_for('static', filename='images/projects/photo/photo.png') }}" height="170px" class="project_img">
                        <h3 class="name">Photoshop</h3>
                        <h3 class="type">Програма</h3>
                    </div></a>

                    <a href=""><div class="project">
                        <img src="{{ url_for('static', filename='images/projects/Timer.png') }}" height="170px" class="project_img">
                        <h3 class="name">Timer</h3>
                        <h3 class="type">Програма</h3>
                    </div></a>

                    <a href=""><div class="project">
                        <img src="{{ url_for('static', filename='images/projects/password.png') }}" height="170px" class="project_img">
                        <h3 class="name">Password Generator</h3>
                        <h3 class="type">Програма</h3>
                    </div></a>
                </div>
            </main>
        </div>
    </body>

</html>