<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Terminal</title>
</head>

<body>

</body>
    <div class="container">
        <span class="text start" id="st1">site\tymofii\portfolio\</span>
        <span class="text write" id="wr1">Hello World!</span>
        
        <span class="text start" id="st2">site\tymofii\portfolio\</span>
        <span class="text write" id="wr2">Це моє портфоліо!</span>

        <span class="text start" id="st3">site\tymofii\portfolio\</span>
        <span class="text write" id="wr3">Головні команди:</span>

        <span class="text start" id="st4">site\tymofii\portfolio\</span>
        <span class="text write" id="wr4">Про мене — about_me</span>

        <span class="text start" id="st5">site\tymofii\portfolio\</span>
        <span class="text write" id="wr5">Мої проєкти — my_projects</span>

        <span class="text start" id="inp_st">site\tymofii\portfolio\</span>
        <form method="POST">
        <input class="text write" id="inp_wr" name="command">
        </form>
    </div>


</html>