<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_proj.css') }}">
        <title>
            Портфоліо
        </title>
    </head>

    <body>

        <div class="projects">

            <div class="header">
                <h1>Портфоліо</h1>

                <nav class="navbar">
                    <ul>
                        <li><a href="{{url_for('games')}}">Ігри</a></li>
                        <li><a href="{{url_for('programs')}}">Програми</a></li>
                        <li><a href="{{url_for('web_pages')}}" class="active">Вебсторінки</a></li>
                        <li><a href="{{url_for('my_projects')}}">Всі</a></li>
                    </ul>
                </nav>
            </div>

            <br>

            <hr id="hr_1" width="50" noshade="noshade" color="EDB200" align="left" size="5">

            <br>

            <main>
                <div class="row">
                </div>
            </main>
        </div>
    </body>

</html>