<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style_proj.css">
        <title>
            Портфоліо
        </title>
    </head>

    <body>

        <div class="projects">

            <div class="header">
                <h1>Портфоліо</h1>

                <nav class="navbar">
                    <ul>
                        <li><a href="games.html">Ігри</a></li>
                        <li><a href="programs.html">Програми</a></li>
                        <li><a href="web_pages.html" class="active">Вебсторінки</a></li>
                        <li><a href="my_projects.html">Всі</a></li>
                    </ul>
                </nav>
            </div>

            <br>

            <hr id="hr_1" width="50" noshade="noshade" color="EDB200" align="left" size="5">

            <br>

            <main>
                <div class="row">
                </div>
            </main>
        </div>
    </body>

</html>